.App {
  font-family: 'Roboto';
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.App form {
  margin: 20px 0; 
}

.App button, input[type=button] {
  font-family: Helvetica, sans-serif;
  color: #fff;
  padding: 8px;
  border: none;
  background: #F44336;
  border-radius: 3px;
  transition: background .3s ease-in-out;
}
.App button:hover, input[type=button]:hover {
  background: #EF5350;
}

.App form input {
  font: Arial;
  font-weight: 100; 
  width: 200px;
  margin-right: 10px; 
  outline: none;
  padding: 8px;
  font-style: italic;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #dedede;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.GiftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mail {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
  outline: none;
  cursor: pointer;
}