.Gift {
    margin-bottom: 8px;
    align-self: flex-start;
    justify-self: flex-start;
}

.Gift .remove {
    font-family: 'Cedarville Cursive';
    font-size: 1rem;
    background-color: transparent;
    color: #455A64;
    font-style: italic;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
    margin-left: 16px;
}

.Gift .remove:hover {
    background-color: transparent;
}